<div style="text-align: center;"><div class="container" style="margin-bottom: 15px;">
  <div class="row header">
    <div class="col-md-12">
      Student Demo
    </div>
  </div>

  
  <nav class="navbar navbar-expand-md navbar-light bg-light container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a [routerLink]="['/home']" class="nav-item nav-link">Home</a>
        <a [routerLink]="['/about']" class="nav-item nav-link" >About</a>
        <a [routerLink]="['/create']" class="nav-item nav-link" >Add</a>
      </div>
    </div>
  </nav>


</div>

<router-outlet></router-outlet>

</div>
